.hover_track:hover {
    background-color: #521478;
    transition: .2s;
}

.hover_track_name:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.hover_artists_name:hover {
    text-decoration: underline;
    color: white;
    transition: 0.2s;
}

.hover_album:hover {
    text-decoration: underline;
    color: white;
}

.hover_carts:hover {
    background-color: #521478 !important;
    transition: .3s !important;
    border: inherit !important;
}

.hover_sidebar_button:hover {
    color: white;
    transition: 0.3s;
}

.hover_like:hover {
    display: block !important;
    color: #1ed760 !important;
    cursor: pointer !important;
}

.hover_button:hover {
    color: white;
    transition: 0.2s;
}

.hover_buttonPlayer:hover {
    color: #1ed760;
    transition: 0.2s;
}

.hover_artist_box:hover {
    background-color: #521478 !important;
    transition: 0.7s !important;
}

#main_container:hover #number {
    display: none;
}

#main_container:hover #player {
    display: block !important;
}

#main_container:hover #like {
    display: block !important;
}